/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #6A4E23; /* Marron */
    background-color: #f5f5f5; /* Fond clair */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

p {
    width: 10cm; /* Limiter à 10 cm de largeur */
    margin: 0 auto;
    text-align: justify;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 60px;
}

h2 {
    font-size: 1.5rem; /* Taille plus petite pour les sous-titres */
    color: #6A4E23;
    text-align: center; /* Centrer les sous-titres */
    margin: 15px 0;
}

.chart-container {
    width: 100%;
    margin: 20px 0;
}

/* Footer styles */
footer {
    background-color: #6A4E23;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Make sure iframe fills the container properly */
iframe {
    display: block;
    margin: 0 auto;
    width: 100%; /* Prendre 100% de la largeur */
    height: 1000px; /* Fixer la hauteur des graphiques */
    border: none;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    iframe {
        height: 800px; /* Limiter la hauteur pour les petits écrans */
    }
}
