/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #6A4E23; /* Marron */
    background-color: #f5f5f5; /* Fond clair */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 30px 20px;
}

h1 {
    font-size: 3rem; /* Taille plus grande pour le titre */
    margin-bottom: 10px;
}

p {
    max-width: 10cm; /* Limiter la largeur à 10 cm */
    margin: 0 auto; /* Centrer le paragraphe */
    text-align: justify;
}

main {
    padding: 30px 20px;
}

section {
    margin-bottom: 80px; /* Plus d'espace entre les sections */
}

h2 {
    font-size: 1.3rem; /* Taille plus petite pour les sous-titres */
    color: #6A4E23;
    text-align: center;
    margin: 20px 0;
}

.chart-container {
    width: 80%; /* Limite à 80% pour une meilleure disposition */
    max-width: 800px; /* Largeur maximale */
    margin: 20px auto; /* Centrer les graphiques */
}

footer {
    background-color: #6A4E23;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px; /* Largeur maximale pour centrer */
    height: 600px;
    border: none;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    iframe {
        height: 500px; /* Limiter la hauteur des graphiques sur petits écrans */
    }
    p {
        max-width: 100%; /* Ajuster la largeur des paragraphes */
        padding: 0 10px; /* Ajouter un peu d'espace sur les côtés */
    }
}
